{% extends "layout.html" %}
{% block content %}

<div class="container">
   
        <div class="row" style="flex-direction: row;align-self: center;">
<div class="text-center" style="flex-direction:row;margin-inline-start:300px ;">
        <h1 class="font-weight-light"><u></u></h1><br>
        <p class="lead"></p>
        </div></div></div>
        <br><br>
      <!-- <img src="https://cdn.aarp.net/content/dam/aarp/health/caregiving/2018/03/1140-nutrients-food-loved-ones-caregiving.imgcache.rev17dd9e9578e4259ab90ca152af4057e9.jpg" alt="dkjsk" style="flex-direction: row;align: center;width:1000px;height: 400px;"/> -->
        <div class="wrapper">
               <div class="row" style="flex-direction: row;align-self: center;">
                    <!-- <div class="col" style="margin:20px;">
                      <div class="card" style="width:1000px;height:300px;">
                            <div class="card-body" style="flex-direction: row;align-self: center;">
                                    <div class="pure-u-1 pure-u-xs-2-2 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-2 pure-u-xl-1-2 text-center gdpr-col">
                                            <div class="gdrp_inside-box" style="width:800px;height:200px">
                                                <div class="gdpr_box-img">
                                                    <img src="https://www.jumio.com/app/uploads/2018/10/icon-aml1.png" alt="">
                                                </div>
                                                <div class="gdpr_box-txt">
                                                    <h2 class="gdpr_box-txt-h">What is KYC? </h2>
                                                        <p class="gdpr_box-txt-p" style="font-size: 20px">Know Your Customer (KYC) refers to the process of verifying the identity of your customers, either before or during the time that they start doing business with you. The term KYC also references the regulated bank customer identity verification practices to assess and monitor customer risk and a legal requirement to comply that are intended to prevent banks from being used for money laundering activities.</p>
                                                </div>
                                            </div>
                                        </div>  
                            </div>
                          </div>     
                        </div> -->
                            
                        <div class="col" style="margin:20px;">
                          <div class="card" style="width:1000px;height:300px;opacity:0.3">
                                <div class="card-body" style="flex-direction: row;align-self: center;">
                                        <div class="pure-u-1 pure-u-xs-2-2 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-2 pure-u-xl-1-2 text-center gdpr-col">
                                                <div class="gdrp_inside-box" style="width:800px;height:200px">
                                                    <div class="gdpr_box-img">
                                                        <img src="https://www.jumio.com/app/uploads/2018/10/icon-aml2.png" alt="">
                                                    </div>
                                                    <div class="gdpr_box-txt">
                                                            <h2 class="gdpr_box-txt-h" style="color: black">Why is a well-balanced diet important? </h2>
                                                            <p class="gdpr_box-txt-p" style="font-size: 20px;color:black">A well-balanced, healthy diet helps kids grow and learn. It also prevents obesity, says the National Institutes of Health's -- NIH -- Medline Plus website. A balanced diet to support growth and development for children includes five servings of fruits and vegetables daily; lean proteins such as lean meats, nuts and eggs; whole grains for fiber; and milk for calcium and protein.</p>
                                                    </div>
                                                </div>
                                            </div>  
                                </div>
                              </div>     
                            </div>     </div>
            </div>
       
                    
  <br>
  <br><br>
  <!-- Page Content -->

{% endblock content %}